.search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar form {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px;
  }
  
  .search-bar input[type="text"] {
    border: none;
    outline: none;
    width: 200px;
    font-size: 16px;
    padding: 5px;
  }
  
  .search-bar button[type="submit"] {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
  }
  
  .search-bar button[type="submit"]:hover {
    background: #ccc;
  }
  
  .fa-search {
    color: #555;
    font-size: 16px;
  }